{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <section>
        <h1 class="username">Sell</h1>
    </section>
    <form action="/sell" method="post">
        <div class="mb-3">
            <select class="form-select mx-auto w-auto" id="symbol" name="symbol">
                {% for stock in portfolio %}
                    <option value="{{ stock.symbol }}">{{ stock.symbol }}</option>
                {% endfor %}
            </select>
            {# <input autocomplete="off" class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Symbol" type="text" autofocus> #}
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto" id="shares" name="shares" placeholder="Quantity" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
    {% block javascript %}
        <script>
            let symbol_value = sessionStorage.getItem("symbol_value");
            document.getElementById("symbol").value = symbol_value;
        </script>
    {% endblock %}
{% endblock %}
